In [1]:
x = 3
print(x)

3

In [2]:
"Hello world!"

'Hello world!'

In [3]:
3 > 5

False

In [4]:
4 == 5

False

In [5]:
10 % 3

1

In [6]:
x = None

In [7]:
type(x)

NoneType

In [8]:
2/3

0.6666666666666666

In [10]:
type("Hello!")

str

In [11]:
type(0.2)

float

In [12]:
type(1)

int

In [15]:
type("tree")

str

In [16]:
type(3>2)

bool

In [17]:
my_items = ["key chain", "wallet", "phone", 4]
my_items

['key chain', 'wallet', 'phone', 4]

In [18]:
5 == [5]

False

In [19]:
my_items[0]

'key chain'

In [20]:
my_items[-1]

4

slice a list

In [21]:
my_items[0:2]

['key chain', 'wallet']

In [22]:
my_items[:2]

['key chain', 'wallet']

In [23]:
my_items[2:]

['phone', 4]

Make a list of numbers (in chronological order), function: range()

In [24]:
range(5,10)

range(5, 10)

In [25]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [33]:
things = ["Apple", "Grape", 101, "Onion", False]
things

['Apple', 'Grape', 101, 'Onion', False]

In [34]:
things[0]

'Apple'

In [35]:
things[-1]

False

In [36]:
things[:-1]

['Apple', 'Grape', 101, 'Onion']

In [43]:
type(things[2])

int

In [44]:
type(things[3])

str

In [45]:
type(things[4])

bool

In [42]:
range(11,16)
list(range(11,16))

[11, 12, 13, 14, 15]

In [46]:
sum([1,2,3])

6

In [48]:
sum(list(range(1,5)))

10

obejct.method()

In [49]:
numbers = [19,4,33,6]
numbers.sort()
numbers

[4, 6, 19, 33]

In [50]:
numbers.pop()
numbers

[4, 6, 19]

In [51]:
numbers.remove(6)
numbers

[4, 19]

In [52]:
numbers.append(88)
numbers

[4, 19, 88]

In [53]:
numbers.append([1,2,3])
numbers

[4, 19, 88, [1, 2, 3]]

In [54]:
numbers.extend([100,101,102])
numbers

[4, 19, 88, [1, 2, 3], 100, 101, 102]

In [55]:
primes = [1,2,3,5,7]
primes

[1, 2, 3, 5, 7]

In [56]:
primes.remove(1)
primes

[2, 3, 5, 7]

In [57]:
primes.extend([11,13,17])
primes

[2, 3, 5, 7, 11, 13, 17]

In [58]:
primes.reverse()
primes

[17, 13, 11, 7, 5, 3, 2]

dictionary is equivalent to list in R; create dict with curly brackets object{}

In [59]:
person = {
    "name": "Steph",
    "age": 32 }
person

{'name': 'Steph', 'age': 32}

In [62]:
person2 = {
    "name": "Del",
    "name": "Middlemiss",
    "age":43
}
person2

{'name': 'Middlemiss', 'age': 43}

In [63]:
person["name"]

'Steph'

.keys() --> return all the keys(variables) in the dictionary;

.values() --> return values of keys of a dictionary;

.items() --> return both keys and vaalues of a dictionary

.pop() --> remove last item and return

.remove() --> remove a specified item

.append() --> add element to a list

.extend() --> merge element into a list

In [64]:
person.keys()

dict_keys(['name', 'age'])

In [65]:
person.values()

dict_values(['Steph', 32])

In [66]:
person.items()

dict_items([('name', 'Steph'), ('age', 32)])

use len() to find out how many itemsin a list

In [67]:
len(person)

2

In [68]:
len(my_items)

4

In [71]:
student_info = {"Agnes" : 68,
                "Bobby" : 45,
                "Charlie" : {"age": 33,"gender":"Female"}}
                
student_info

{'Agnes': 68, 'Bobby': 45, 'Charlie': {'age': 33, 'gender': 'Female'}}

In [73]:
student_info["Charlie"]["age"]

33

In [74]:
len(student_info)

3

In [75]:
person.update({"name":"Del", "preferred jokes":["dad jokes","puns"]})

In [76]:
person.pop("age")

32

In [77]:
person

{'name': 'Del', 'preferred jokes': ['dad jokes', 'puns']}

In [78]:
person.pop("preferred jokes")

['dad jokes', 'puns']

In [79]:
person

{'name': 'Del'}

## Disctionaries inside Dictionaries

In [82]:
countries = {
    "uk":{
        "capital":"London",
        "population":1000
    },
    "germany":{
        "capital":"Berlin",
        "population":5
    }
}
countries

{'uk': {'capital': 'London', 'population': 1000},
 'germany': {'capital': 'Berlin', 'population': 5}}

In [83]:
countries["germany"]["population"]

5